<include file="Student/studentheader"/>
<style>
    .list-title {
        text-align: center;
        padding: 0px;
    }
    #examList {
        text-align: center;
    }
    th {
        text-align: center;
    }
</style>
<if condition="session('student')">
    <else/>
    <script type="text/javascript">
        window.location.href = '{:U("/Home/Student/login")}';
    </script>
</if>
<div class="list-title">
    <h1>正在进行的考试</h1>
</div>
<div class="am-container" style="text-align: center;">
    <img src="__PUBLIC__/assets/images/stu/processing.jpg" alt="Logo" style="float: left;width: 10%;"/>
    <div class="am-g am-u-sm-10 am-u-sm-centered" style="float: left;width: 90%">
        <table class="table-striped table-bordered table-hover" id="examList" cellspacing="0" style="width: 100%">
            <thead>
            <tr style="height: 40px;">
                <th style="width:25%">考试编号</th>
                <th style="width:25%">考试名称</th>
                <th style="width:25%">考试时间</th>
                <th style="width:25%">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<include file="Index/footer"/>

<script type="text/javascript">
    $(document).ready(function($) {

        $.ajax({
            url: '{:U("/Home/Student/getProcessingExam")}',
            type: 'POST',
            dataType: 'json',
            data: {
                student_id: '{:I("session.student")["student_id"]}'
            }
        })
                .done(function(response) {
                    $('#examList').DataTable({
                        'dom': '<"top">rt<"bottom"lip><"clear">',
                        "bProcessing": true,
                        "bDestroy": true,
                        "sPaginationType" : "full_numbers",
                        "oLanguage" : {
                            "sLengthMenu": "每页显示 _MENU_ 条记录",
                            "sZeroRecords": "抱歉， 没有找到",
                            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                            "sInfoEmpty": "没有数据",
                            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                            "sZeroRecords": "没有检索到数据",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "上页",
                                "sNext": "下页",
                                "sLast": "尾页"
                            }
                        },
                        data: response,
                        columns: [
                            { data: 'exam_id' },
                            { data: 'name' },
                            { data: 'spend_time' },
                            { data: 'info' }
                        ],
                        columnDefs: [
                            <!-- { -->
                            <!--     "targets": 0, -->
                            <!--     "visible":false -->
                            <!-- }, -->
                            {
                                "targets": -1,
                                "data": null,
                                "render": function (data, type, row, table) {
                                    return '<a class="btn btn-info btn-primary" onclick="toDoExam(' + data + ')">' +  "参加考试" + '</a>';
                                }
                            }
                        ]
                    } );
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
    });

    function toDoExam(exam_id,spend_time){
        $.ajax({
            url: '{:U("/Home/Student/toDoExam")}',
            type: 'POST',
            dataType: 'json',
            data: {
                exam_id: exam_id
            }
        })
                .done(function(response) {
                    var question_id = response.question_id.toString();
                    $.StandardPost('{:U("/Home/Student/doExam")}',{question_id:question_id,exam_id:exam_id,spend_time:spend_time});
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
    }
    $.extend({
        StandardPost:function(url,args){
            var body = $(document.body),
                    form = $("<form method='post'></form>"),
                    input;
            form.attr({"action":url});
            $.each(args,function(key,value){
                input = $("<input type='hidden'>");
                input.attr({"name":key});
                input.val(value);
                form.append(input);
            });

            form.appendTo(document.body);
            form.submit();
            document.body.removeChild(form[0]);
        }
    });
</script>
