<include file="studentheader"/>
<style>
    .list-title {
        text-align: center;
        padding: 20px;
    }

    .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form id="studentInfo" role="form" class="form-horizontal">
                <h2>个人信息</small></h2>
                <hr class="colorgraph">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label" style="vertical-align: middle">用户名</label>
                    <div class="col-sm-10"><input type="text" name="username" id="username" class="form-control"
                                                  readonly></div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label" style="vertical-align: middle">密码</label>
                    <div class="col-sm-10"><input type="text" name="password" id="password" class="form-control"
                                                  required="true"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="vertical-align: middle">性别</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="男"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="女"> 女
                        </label></div>
                </div>
                <div class="form-group">
                    <label for="school" class="col-sm-2 control-label" style="vertical-align: middle">学校</label>
                    <div class="col-sm-10"><input type="text" name="school" id="school" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label" style="vertical-align: middle">电话号</label>
                    <div class="col-sm-10"><input type="text" name="school" id="phone" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label for="teacher" class="col-sm-2 control-label" style="vertical-align: middle">老师</label>
                    <div class="col-sm-10">
                        <select id="teacher" class="form-control">
                            <option>邓琨</option>
                            <option>白文俊</option>
                        </select></div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="submit" id="submitButton" value="修改" class="btn btn-success btn-block"></div>
                    <div class="col-xs-6 col-md-6"><a href="#" class="btn btn-primary btn-block">取消</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });

</script>