<include file="Index/Teacherheader"/>
<style>
    h1 {
      text-align: center;
      padding: 60px 0;
    }
</style>
<div class="am-g am-u-sm-4 am-u-sm-centered form-horizontal">
    <h1>出题选项</h1>
    <div class="am-input-group ">
        <h5 class="control-label">试题名称：　　　　</h5>
        <input id="name" type="text" class="control-label am-form-field">
    </div>
    <br>
    <div class="am-input-group">
        <h5 class="control-label">加减运算(道)：　　　　</h5>
        <input id="jjnum" type="number" class="control-label am-form-field">
    </div>
    <br>
    <div class="am-input-group">
        <h5 class="control-label">乘除运算(道)：　　　　</h5>
        <input id="ccnum" type="number" class="control-label am-form-field">
    </div>
    <br>
    <div class="am-input-group">
        <h5  class="control-label">混合运算(道)：　　　　</h5>
        <input id="hhnum" type="number" class="control-label am-form-field">
    </div>
    <br/>
    <button id="add-btn" class="btn btn-primary col-sm-offset-4 col-sm-3">确定出题</button>
    <br/>
    <br/>
    <div>
<script type="text/javascript">
    $(document).ready(function($) {
        $("#add-btn").on('click', function(argument) {
            var jjnum = $("#jjnum").val();
            var ccnum = $("#ccnum").val();
            var hhnum = $("#hhnum").val();
            var question_name = $("#name").val();
            $.ajax({
                url: '{:U("/Home/Index/saveQuestion")}',
                type: 'POST',
                dataType: 'json',
                data: {
                    teacher_id: '{:I("session.teacher")["teacher_id"]}',
                    question_name: question_name,
                    jjnum: jjnum,
                    ccnum: ccnum,
                    hhnum: hhnum
                }
            })
                .done(function(response) {
                    if(response.status == 'success'){
                        alert('出题完成');
                        window.location.href = '{:U("/Home/Teacher/questionList")}';
                    }
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
        });
    });
</script>
<include file="Index/footer"/>
