<include file="Index/Teacherheader"/>
<style>
    .get {
      background: #1E5B94;
      color: #fff;
      text-align: center;
      padding: 70px 0;
    }

    .get-title {
      font-size: 200%;
      border: 2px solid #fff;
      padding: 30px;
      display: inline-block;
    }

    .get-btn {
      background: #fff;
    }

    .detail {
      background: #fff;
    }

    .detail-h2 {
      text-align: center;
      font-size: 150%;
      margin: 40px 0;
    }

    .detail-h3 {
      color: #1f8dd6;
    }

    .detail-p {
      color: #7f8c8d;
    }

    .detail-mb {
      margin-bottom: 30px;
    }
</style>
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
        <li><img src="__PUBLIC__/assets/i/1.jpg"/>
            <div class="am-slider-desc">
                <h1>学生成绩监督</h1>
                <hr/>
                <h2>在线查看学生的基本信息以及历次考试成绩，便于分析学生对知识的掌握情况，从而因材施教</h2></div>
        </li>
        <li><img src="__PUBLIC__/assets/i/2.jpg"/>
            <div class="am-slider-desc">
                <h1>试题信息管理</h1>
                <hr/>
                <h2>教学网站可以生成和存储大量的试题，教师可以方便的管理试题资料，为不同的学生使用不同的练习题</h2></div>
        </li>
        <li><img src="__PUBLIC__/assets/i/3.jpg"/>
            <div class="am-slider-desc">
                <h1>师生交流互动</h1>
                <hr/>
                <h2>系统设置了私信功能，老师和学生之间可以及时交流，良好的互动可以显著提高教学质量</h2>
            </div>
        </li>
        <li><img src="__PUBLIC__/assets/i/4.jpg"/>
            <div class="am-slider-desc">
                <h1>在线安排考试</h1>
                <hr/>
                <h2>教学网站提供了安排在线考试的功能，老师可以要求学生在指定的时间段完成试题，并自动计算和分析考试成绩</h2>
            </div>
        </li>
    </ul>
</div>
<include file="Index/footer"/>
