
<footer class="am-container blog-footer blog-footer-padding" style="text-align: center;background-color: #00BFFF;color: #FFFFFF;position: relative;margin-bottom: 0px">
    <div class="blog-text-center">人性化学习网站，只为每天更进一步</div>
    <div class="blog-text-center">© 2016 copyright@邓琨、白文俊、张星星、韩婧</div>
</footer>
    <!--<footer data-am-widget="footer"-->
            <!--class="am-footer am-footer-default"-->
            <!--data-am-footer="{  }" style="height: 100px;position: absolute;bottom: 0px">-->
        <!--<div class="am-footer-miscs ">-->
            <!--<div class="blog-text-center">人性化学习网站，只为每天更进一步</div>-->
            <!--<p>由 邓琨、白文俊、张星星、韩婧 提供技术支持 CopyRight©2016</p>-->
        <!--</div>-->
    <!--</footer>-->
</body>
</html>