<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>四则运算</title>
    <!-- Bootstrap -->
    <js href="__PUBLIC__/assets/js/jquery.min.js"/>
    <css href="__PUBLIC__/assets/css/amazeui.min.css"/>
    <css href="__PUBLIC__/assets/css/dataTables.bootstrap.css"/>
    <!-- <css href="__PUBLIC__/assets/css/amazeui.flat.min.css"/> -->
    <js href="__PUBLIC__/assets/js/amazeui.min.js"/>
    <js href="__PUBLIC__/assets/js/jquery.dataTables.min.js"/>
    <js href="__PUBLIC__/assets/js/dataTables.bootstrap.js" />
    <js href="__PUBLIC__/assets/js/echarts-all.js"/>

    <style type="text/css">
	    header {
	        text-align: center;
	    }
      .am-topbar-btn a {
        color: #fff;
      }
      .am-topbar-btn a:hover {
        color: #fff;
      }
      .am-topbar-btn a:active {
        color: #fff;
      }
      .am-topbar-btn a:link {
        color: #fff;
      }
      .am-topbar a {
        color: #fff;
        
      }
    </style>

    <script>
        baseUrl = '__ROOT__';
    </script>
</head>
