
<style>
    .am-topbar-btn {
        background: #23ccfe;
    }
    .get {
        background: #EEAD0E;
        color: #fff;
        text-align: center;
        padding: 70px 0;
    }

    .get-title {
        font-size: 200%;
        border: 2px solid #fff;
        padding: 30px;
        display: inline-block;
    }

    .get-btn {
        background: #fff;
    }

    .detail {
        background: #fff;
    }

    .detail-h2 {
        text-align: center;
        font-size: 150%;
        margin: 40px 0;
    }

    .detail-h3 {
        color: #1ABC9C;
    }

    .detail-p {
        color: #7f8c8d;
    }

    .detail-mb {
        margin-bottom: 30px;
    }
</style>
<div class="get am-container">
    <div class="am-g">
    <div class="am-u-sm-12">
    <h1 class="get-title">OOPS~抱歉</h1>
    <p>
    本功能还在开发中，敬请期待
    </p>
    </div>
    <a style="color: #fff;" href="javascript:history.go(-1)">返回上一页</a>
    </div>
</div>
<br>

<script type="text/javascript">
</script>
<include file="Index/footer"/>
